body 
{
    background-color: #EFEFEF;
}

.navbar-nav
{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.quiz-card 
{
    width: 100%;
    
    .mdl-card__title {justify-content: space-between}
}

.success-badge {color: limegreen;}
.failure-badge {color: firebrick;}

.wide-btn 
{
    font-weight: bold;
    padding: 0em 5em;
    width: 100%;

    &:hover{
        text-decoration:none;
    }
}

.flex-button-container 
{
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    
    button 
    {
        margin-top: 3rem;
    }
    
    button[name=prev] 
    {
        background-color: #efefef!important;
        color: #999!important;
    }
}

.white-bg{background-color: #fff;}



@media (min-width: 768px) 
{
    .wide-btn 
    {
        width: auto;
    }
    .flex-button-container 
    {
        flex-direction: row;
    }
}
